# Example .env for healthAI

# Postgres (API)
POSTGRES_DB=db_name
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
POSTGRES_HOST=db_host
POSTGRES_PORT=db_port
POSTGRES_URL=postgresql://db_user:db_password@db_host:db_port/db_name

# JWT
JWT_SECRET=java_web_token

# App
NODE_ENV=production
API_PORT=5000
FRONTEND_PORT=4200

# ETL (healthAI-backend-ETL)
DB_USER=db_user
DB_PASSWORD=db_password
DB_HOST=db_host
DB_PORT=db_port
DB_NAME=db_name